.project {
  color: #fff;
  background: #111;
  padding: 25px 15px;
  margin-top: 20px;
  cursor: default;
}
.project .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
.project .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 260px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

.project .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #111;
  transform: translateX(-50%);
}
.project .title::after {
  font-size: 20px;
  font-weight: bold;
  content: "These Are My Skills";
}
.card-img-top {
  border-radius: 0 !important;
  padding: 1.5rem;
}
.inner-img {
  overflow: hidden;
}
.inner-img img {
  height: 15rem;
  border-radius: 30px !important;
  transition: all 1.5s ease;
}
.inner-img:hover img {
  transform: scale(1.5);
}
.project_card {
  width: 25rem;
  background: #222;
  color: white;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card-body {
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  color: rgb(248, 46, 46);
  font-size: 1.5rem;
  font-weight: 400;
}
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon span {
  width: 35px;
  height: 35px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  transition: all 0.5s linear;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 10px;
}
.card-icon span:hover {
  background: #fff;
  color: red;
  border: 2px solid transparent;
}
.card-text {
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 2px;
  display: block;
  margin: auto;
}
